<h2>Customer Request Page</h2>
<table>
  <tr>
    <th>cabuser_id</th>
    <th>cab_id</th>
    <th>user_id</th>
  	<th>status</th>
  </tr>
  <%#byebug %>
  <% @cabrequest.each do |cabuser| %> 
  <tr>
    <td><%= cabuser.id %></td>
    <td><%= cabuser.cab_id %></td>
    <td><%= cabuser.user_id %></td>
    <td><%= cabuser.status %></td>
    <td><%= link_to "Approve",customer_request_approve_path(cabuser) %></td>
  </tr>
  <% end %>
</table>
