<h2>Customer Request Page</h2>
<table>
  <tr>
    <th>cabuser_id</th>
    <th>cab_id</th>
    <th>user_id</th>
  	<th>status</th>
  </tr>
  <%#byebug %>
  <% @cabrequest.each do |cabrequest| %> 
  <tr>
    <td><%= cabrequest.id %></td>
    <td><%= cabrequest.cab_id %></td>
    <td><%= cabrequest.user_id %></td>
    <td><%= cabrequest.status %></td>
    <td><%= link_to "Approve",customer_request_approve_url(cabrequest.cab_id,cabrequest.user_id) %></td>
  </tr>
  <% end %>
</table>
