<h2>Customer all cabs</h2>

<table>
  <tr>
    <th>Cab_id</th>
    <th>cab_name</th>
    <th>cab_route</th>
    <th>cab_number</th>
  </tr>
  <% @cab.each do |cab| %>
  <tr>
   <td><%= cab.id %></td>
   <td>Driver cab name: <%= cab.cab_name %></td>
   <td>Driver cab route: <%= cab.cab_route %></td>
   <td>Driver cab number: <%= cab.cab_number %></td>
   <td><%= button_to 'View',cab_path(cab), method: :get %></td>
   <td><%= button_to 'Request', cab_request_path(cab), method: :get %></td>
  </tr>
<% end %>
</table>

<ul>
  <%= link_to "Sign in", user_session_path %><br>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete %><br>
  <%= link_to "See customer request",show_request_path %><br>
  <%= link_to 'Create new cab','/cabs/new'%><br>
  <%= link_to "Create new driver", new_driver_request_path %><br>
  <%= link_to "Active admin page", admin_driver_requests_path %>
</ul>

<!-- cab_request_path(cab) -->