<h2>Drivers all cabs</h2>

<table>
  <tr>
  	<th>Cab_id</th>
    <th>cab_name</th>
    <th>cab_route</th>
    <th>cab_number</th>
  </tr>
  <% @cab.each do |cab| %> 
  <tr>
   <td><%= cab.id %></td>
   <td><%= cab.cab_name %></td>
   <td><%= cab.cab_route %></td>
   <td><%= cab.cab_number %></td>
   <td><%= button_to 'View',cab_path(cab),method: :get %></td>
   <td><%= button_to "Edit", edit_cab_path(cab),method: :get %></td>
   <td><%= button_to 'Destroy', cab, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>

</table>
<ul>
  <%= link_to "Sign in", user_session_path %><br>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete %><br>
  <%= link_to 'Create new cab','/cabs/new'%><br>
  <%= link_to "See customer request",show_request_path %><br>
  <%= link_to "Active admin page", admin_driver_requests_path %>
</ul>
